PORT=4000
VERZENDEN_EMAIL=true

GOOGLE_PROJECT_ID=project-id
GOOGLE_ADMIN_EMAIL=admin@vliegclub.com
GOOGLE_CREDENTIALS_PATH=./.sheet2vinkje.json.example

GOOGLE_SHEETS_CONFIG="sheets.json.example"

HELIOS_CREDENTIAL_FILE=./.helios.account.json.example"